<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForPpu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ForPpu_Green.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Frist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Third.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>032FD9491EC6ED6400F488E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032FD9661EC6F69100F488E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032FD97C1EC6F69E00F488E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032FD98F1EC6F6AE00F488E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>036C049B1EC96FF0006DEBBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
